{% extends 'base.html' %}
{% block title %}Coffee and Wifi{% endblock %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">☕️ Coffee & Wifi 💻</h1>
    <p class="lead">Want to work in a cafe but need power and wifi?</p>
    <hr class="my-4" />
    <p>
     You've come to the perfect spot! Explore my curated collection of cafes, complete with information on power socket availability, Wi-Fi speed, and coffee quality.
    </p>
    <a
      class="btn btn-warning btn-lg"
      href="{{ url_for('cafes') }}"
      role="button"
      >Show Me!</a
    >
  </div>
</div>

{% endblock %}
